html {
    scroll-behavior: smooth;
  }
  
* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #B1E5E2;
    background-image: url('assets/6_bg.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center top;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}